<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :email1 %><br>
    <%= f.text_field :email1 %>
  </div>
  <div class="field">
    <%= f.label :email2 %><br>
    <%= f.text_field :email2 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :present_city %>
  </div>
  <div class="field">
    <%= f.label :job %><br>
    <%= f.text_field :present_job %>
  </div>  
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
