<%= form_for(@skill) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :last_used %><br>
    <%= f.date_select :last_used %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :percentage %><br>
    <%= f.number_field :percentage %>
  </div>
  <div class="field">
    <%= f.label :expert_level %><br>
    <%= f.text_field :expert_level %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :resume_id %><br>
    <%= f.number_field :resume_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
