<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :resume_id %><br>
    <%= f.number_field :resume_id %>
  </div>
  <div class="field">
    <%= f.label :office_address %><br>
    <%= f.text_area :office_address %>
  </div>
  <div class="field">
    <%= f.label :stay %><br>
    <%= f.text_field :stay %>
  </div>
  <div class="field">
    <%= f.label :current_address %><br>
    <%= f.text_field :current_address %>
  </div>
  <div class="field">
    <%= f.label :permenent_address %><br>
    <%= f.text_area :permenent_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
